<body *ngIf="ordersDTO">
    <br>
    <br>  
    <table ptable class="styled-table">
        <tr>
            <td><b>Product name</b></td>
            <td><b>Quantity</b></td>
            <td><b>Price</b></td>
        </tr>
        <tr *ngFor="let o of ordersDTO">
            <td>{{o.productName}}</td>
            <td>{{o.qty}}</td>
            <td>{{o.price | currency: 'USD'}}</td>
        </tr>
    </table>
   
    <h4 id ="total">Total: {{total | currency: 'USD' }}</h4>
    <h4>Purchase date: {{ordersDTO[0].orderDate | date: 'medium'}}</h4>
    </body>
