 /*----------grid settings----------*/

 .container {
    display: grid;
  
    grid-template-areas:
      "header header header"
      "content content content"
      "footer footer footer";
  
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
  
    height: 97vh;
  }
  h1{
    color: aliceblue;
  }
  
  header {
    grid-area: header;
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: medium;
  }
  
  nav {
    grid-area: nav;
    margin-left: 0.1rem;
  }
  
  main {
    grid-area: content;
  }
  
  aside {
    grid-area: side;
    margin-right: 0.5rem;
  }
  
  footer {
    grid-area: footer;
    padding-bottom: 1px;
    color: white;
    text-shadow:1px 1px 2px black;
  }

   /*----------grid settings----------*/