<body>
    <h2>Register</h2>
    
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="p-float-label">
            <input pInputText  id="email" type="text" formControlName="email" required minlength="3" maxlength="50">
            <label for="email">Email</label>
          
        </div>
        <div class="p-float-label">
            <input pInputText id="firstname" type="text" formControlName="firstName" required minlength="3" maxlength="50">
            <label for="firstname" icon="pi pi-at">FirstName</label>
          </div>

          
          <br>
          <div class="p-float-label">
            
            <input pInputText id="lastname" type="text" formControlName="lastName" required minlength="3" maxlength="50">
            <label for="lastname" icon="pi pi-at">LastName</label>
          </div>
          <div class="p-float-label">
            
            <input pPassword type="password" weakLabel="Weak :(" mediumLabel="Medium :|" strongLabel="Strong :)" toggleMask:true id="password" type="password" formControlName="password" required minlength="3" maxlength="50">
            <label for="password">Password</label>
          </div>
          <br>
          <div class="p-float-label">
            
            <p-calendar id="birthday" formControlName="birthday" dateFormat="yy-mm-dd"></p-calendar>
            <label for="birthday">Birthday</label>
          </div>
          
          <br>
          <br>
          
          <p-button type="submit" label="Save" class="p-button-success"></p-button>
      </form>
    </body>
