body {
    position: relative;
    width: 100%;
    display: block;
  }
  body > *  {
    margin: auto;
    margin-top: 2%;
    width: 20%;
    display: block;
    overflow: auto;
  }

  body > script {
    display: none
  }
p-button{
  margin: 2px;
}

a{
  text-decoration: none;
  color:firebrick;
}