body {
    position: relative;
    width: 100%;
    display: block;
 
  }
  body > *  {
    margin: auto;
    width: 50%;
    display: block;
    overflow: auto;
    margin-left: 30%;
  }
  .inline{
    width: 40%;
    margin: 15px;
    display: inline-block;
}
.first{
  margin-left: 23%;
}
p-button, h2{
  margin-left: 30%;
}

  body > script {
    display: none
  }